includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    scanFiles:
        - tests/php/bootstrap.php
        - includes/functions.php
    scanDirectories:
        - includes/
    paths:
        - includes/
    ignoreErrors:
        # Filtered value can return a bool, so this error is incorrect.
        - '#^Else branch is unreachable because ternary operator condition is always true\.$#'
        # Method can return bool via filter.
        - '#^Method Disable_Blog_Public::get_disabled_xmlrpc_methods\(\) never returns bool so it can be removed from the return type\.#'
        # errors we don't care about.
        - '#^Property Disable_Blog_Public::\$plugin_name is never read, only written\.#'
        - '#^Property Disable_Blog_Public::\$version is never read, only written\.#'
        # Implode is correctly used in get_comments_count for supported PHP versions of this plugin.
        - '#^Parameter \#2 \$array of function implode expects array\<string\>, array\<array\|string\> given\.#'
        - '#^Constant DWPB_URL not found\.#'
        - '#^Constant DWPB_VERSION not found\.#'
