/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#dashboard_right_now .post-count,
#dashboard_right_now .comment-count,
.nav-menus-php label[for="add-post-hide"],
.control-section.add-post,
.welcome-icon.welcome-write-blog,
.users-php .column-posts {
    display: none;
}

/* Hide Blog Page */
#front-static-pages p:first-of-type {
	display: none;
}

/* Hide blog options */
.form-table tr:nth-child(2),
.form-table tr:nth-child(3),
.form-table tr:nth-child(4) {
	display: none;
}

/* Make sure errors show up */
#front-static-pages .error p {
	display: block;
}