/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#dashboard_right_now .post-count,
#dashboard_right_now .comment-count,
.nav-menus-php label[for="add-post-hide"],
.control-section.add-post,
.options-reading-php table.form-table tr,
.welcome-icon.welcome-write-blog,
.users-php .column-posts {
    display: none;
}
<?php if( ! $this->post_types_with_feature( 'comments' ) ) { echo 'a.welcome-icon.welcome-comments {display: none;}'; } ?>
.options-reading-php table.form-table tr:first-child,
.options-reading-php table.form-table tr.option-site-visibility {
	display: block;
}